PORT=4000
SUI_NETWORK=testnet
BACKEND_MNEMONIC="word1 word2 ... word12"
# BACKEND_PRIVATE_KEY="base64_or_0x_private_key"
EUID_PACKAGE_ID=0xPACKAGE_ID
AUTHORITY_ADDRESS=0xAUTHORITY
ALLOWED_ORIGIN=http://localhost:3000
