BACKEND_PORT=3001
BACKEND_MNEMONIC=word1 word2 ... word12
BACKEND_PRIVATE_KEY=YOUR_TESTNET_PRIVATE_KEY_HERE
AUTHORITY_ADDRESS=0xPASTE_YOUR_AUTHORITY_ADDRESS_HERE
EUID_PACKAGE_ID=0xPASTE_YOUR_PACKAGE_ID_HERE
