# Backend identity
PORT=4000
EUID_PACKAGE_ID=0xTU_PACKAGE_ID_EN_SUI
AUTHORITY_ADDRESS=0xTU_DIRECCION_DE_AUTORIDAD_EN_SUI
USE_REAL_WALLET=false

# Claves del backend que firma en Sui
# Usa solo una de las dos: o mnemonic o private key

BACKEND_MNEMONIC=word1 word2 word3 ... word12
# BACKEND_PRIVATE_KEY=suiprivkey1qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq

# Frontend
NEXT_PUBLIC_IDENTITY_BACKEND_URL=http://identity-backend:4000
